:root {
  --color-black: #000;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-white: #fff;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  min-height: 100vh;
  color: var(--color-grey-dark-2);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat; }

.btn-inline {
  display: inline-block;
  padding-bottom: 0.2rem;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
  font-size: inherit;
  cursor: pointer;
  transition: all 0.3s; }
  .btn-inline span {
    margin-left: 0.3rem;
    transition: all 0.3s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1);
    border-bottom: 1px solid var(--color-grey-dark-1); }
    .btn-inline:hover span {
      margin-left: 0.8rem; }
  .btn-inline:focus {
    outline: none;
    animation: 1s infinite pulsation; }

@keyframes pulsation {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  .cta__book-now {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase; }
  .cta__btn {
    position: relative;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    border: none;
    border-radius: 100px;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-white);
    cursor: pointer; }
    .cta__btn > * {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: all 0.3s; }
    .cta__btn--visible {
      padding: 2rem 7.5rem; }
    .cta__btn--hidden {
      position: absolute;
      left: 0;
      top: -100%;
      padding: 2rem 0rem; }
    .cta__btn:hover {
      background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
    .cta__btn:hover .cta__btn--visible {
      transform: translateY(100%); }
    .cta__btn:hover .cta__btn--hidden {
      top: 0; }
    .cta__btn:focus {
      outline: none;
      animation: 1s pulsation infinite; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid var(--color-grey-light-2);
  border-bottom: 1px solid var(--color-grey-light-2);
  list-style: none; }
  .list__item {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    margin-bottom: 0.7rem; }
  .list__item::before {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;
    content: "";
    background-color: var(--color-primary);
    mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover;
    -webkit-mask-size: cover; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2); }
  .overview__heading {
    padding: 1.5rem 3rem;
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1rem; }
  .overview__stars {
    margin-right: auto;
    display: flex;
    align-items: center; }
  .overview__icon-star, .overview__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    display: flex;
    align-items: center;
    font-size: 1.2rem; }
  .overview__icon-location {
    margin-right: 0.5rem; }
  .overview__rating {
    margin-left: 3rem;
    padding: 0 2.25rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .overview__rating-average {
    margin-bottom: -0.3rem;
    font-size: 2.25rem;
    font-weight: 300; }
  .overview__rating-votes {
    font-size: 0.8rem;
    text-transform: uppercase; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.recommend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  color: var(--color-grey-dark-3); }
  .recommend__photo {
    height: 4rem;
    width: 4rem;
    box-sizing: content-box;
    border-radius: 50%;
    border: 3px solid var(--color-white); }
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }

.review {
  position: relative;
  margin-bottom: 3.5rem;
  padding: 3rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
  display: flex;
  flex-direction: column; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 20rem;
    line-height: 1;
    color: var(--color-grey-light-2);
    z-index: 1; }
  .review__text {
    position: relative;
    margin-bottom: 2rem;
    z-index: 2; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .review__user-container {
    margin-right: auto; }
  .review__user-name {
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase; }
  .review__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3); }
  .review__rating {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-primary); }

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%; }
  .search__input {
    width: 90%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    padding: 0.7rem 2rem;
    margin-right: -3.25rem;
    border: none;
    border-radius: 10rem;
    transition: all 0.3s; }
    .search__input:focus {
      width: 100%;
      outline: none;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      color: var(--color-grey-light-4);
      font-weight: 100; }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(0.2rem); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.3rem;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    position: relative;
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    z-index: 10; }
  .side-nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: var(--color-grey-light-1); }

.legal {
  padding: 2.5rem;
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center; }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    height: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    cursor: pointer; }
    .user-nav > *:hover {
      background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-3); }
  .user-nav__notification {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    height: 1.75rem;
    width: 1.75rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 50%;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark); }

.content {
  display: flex; }

.description {
  background-color: var(--color-white);
  padding: 3rem;
  box-shadow: var(--shadow-light);
  flex: 0 0 60%;
  margin-right: 4.5rem; }

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-2);
  font-size: 1.4rem; }

.header {
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem; }

.hotel-overview {
  background-color: var(--color-white);
  flex: 1; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%; }

.user-reviews {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center; }
