:root {
  --color-black: #000;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-white: #fff;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  min-height: 100vh;
  color: var(--color-grey-dark-2);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%; }
  .search__input {
    width: 90%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    padding: 0.7rem 2rem;
    margin-right: -3.25rem;
    border: none;
    border-radius: 10rem;
    transition: all 0.3s; }
    .search__input:focus {
      width: 100%;
      outline: none;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      color: var(--color-grey-light-4);
      font-weight: 100; }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(0.2rem); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    height: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    cursor: pointer; }
    .user-nav > *:hover {
      background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-3); }
  .user-nav__notification {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    height: 1.75rem;
    width: 1.75rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 50%;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  height: 50rem; }

.content {
  display: flex; }

.header {
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem; }

.hotel-overview {
  background-color: var(--color-white);
  flex: 1; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; }
