@import "base/base";
@import "components/btn-inline";
@import "components/gallery";
@import "components/list";
@import "components/logo";
@import "components/overview";
@import "components/paragraph";
@import "components/recommend";
@import "components/review";
@import "components/search";
@import "components/side-nav";
@import "components/user-nav";
@import "layout/container";
@import "layout/content";
@import "layout/description";
@import "layout/detail";
@import "layout/header";
@import "layout/hotel-overview";
@import "layout/sidebar";
@import "layout/user-reviews";