.description {
  background-color: var(--color-white);
  padding: 3rem;
  box-shadow: var(--shadow-light);
  flex: 0 0 60%;
  margin-right: 4.5rem;

  @media only screen and (max-width: $tab-portrait) {
    padding: 2rem;
    margin-right: 3rem;
  }
}