.header {
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;

  @media only screen and (max-width: $phone-portrait) {
    height: 11rem;
    flex-wrap: wrap;
    align-content: space-around;
  }
}