.btn-inline {
  display: inline-block;
  padding-bottom: 0.2rem;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
  font-size: inherit;
  cursor: pointer;
  transition: all 0.3s;

  & span {
    margin-left: 0.3rem;
    transition: all 0.3s;
  }

  &:hover {
    color: var(--color-grey-dark-1);
    border-bottom: 1px solid var(--color-grey-dark-1);

    & span {
      margin-left: 0.8rem;
    }
  }

  &:focus {
    outline: none;
    animation: 1s infinite pulsation;
  }
}

@keyframes pulsation {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}