.cta {
  padding: 3.5rem 0;
  text-align: center;

  @media only screen and (max-width: $tab-portrait) {
    padding: 3rem 0;
  }

  &__book-now {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;

    @media only screen and (max-width: $phone-portrait) {
      font-size: 1.5rem;
    }
  }

  &__btn {
    position: relative;
    background-image: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    border: none;
    border-radius: 100px;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-white);
    cursor: pointer;

    @media only screen and (max-width: $phone-portrait) {
      font-size: 1.25rem;
    }

    & > * {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: all 0.3s;
    }

    &--visible {
      padding: 2rem 7.5rem;

      @media only screen and (max-width: $phone-portrait) {
        padding: 1.25rem 6rem;
      }
    }

    &--hidden {
      position: absolute;
      left: 0;
      top: -100%;
      padding: 2rem 0rem;

      @media only screen and (max-width: $phone-portrait) {
        padding: 1.25rem 0rem;
      }
    }

    &:hover {
      background-image: linear-gradient(
        to left,
        var(--color-primary-light),
        var(--color-primary-dark)
      );
    }

    &:hover &--visible {
      transform: translateY(100%);
    }

    &:hover &--hidden {
      top: 0;
    }

    &:focus {
      outline: none;
      animation: 1s pulsation infinite;
    }
  }
}
