.list {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid var(--color-grey-light-2);
  border-bottom: 1px solid var(--color-grey-light-2);
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }

  &__item::before {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;
    content: "";

    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover;

    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: var(--color-primary);
      mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;
      -webkit-mask-size: cover;
      background-image: none;
    }
  }
}