.review {
  position: relative;
  margin-bottom: 3.5rem;
  padding: 3rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $tab-portrait) {
    margin-bottom: 3rem;
    padding: 2rem;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 20rem;
    line-height: 1;
    color: var(--color-grey-light-2);
    z-index: 1;
  }

  &__text {
    position: relative;
    margin-bottom: 2rem;
    z-index: 2;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user-container {
    margin-right: auto;
  }

  &__user-name {
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }

  &__rating {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-primary);
  }
}