.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%;

  @media only screen and (max-width: $phone-portrait) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    width: 90%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    padding: 0.7rem 2rem;
    margin-right: -3.25rem;
    border: none;
    border-radius: 10rem;
    transition: all 0.3s;

    &:focus {
      width: 100%;
      outline: none;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-light-4);
      font-weight: 100;
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(0.2rem);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}
