.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  
  @media only screen and (max-width: $tab-portrait) {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
  }
  

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @media only screen and (max-width: $tab-portrait) {
        margin-bottom: 0;
      }
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.3rem;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 0.2s,
                width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
                background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%; 
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link {
    &:link,
    &:visited {
      position: relative;
      color: var(--color-grey-light-1);
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 1.5rem 3rem;
      display: flex;
      align-items: center;
      z-index: 10;

      @media only screen and (max-width: $phone) {
        flex-direction: column;
        padding: 0.5rem 2rem;
      }
    }
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: var(--color-grey-light-1);

    @media only screen and (max-width: $phone) {
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  }
}

.legal {
  padding: 2.5rem;
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;

  @media only screen and (max-width: $tab-portrait) {
    display: none;
  }
}