.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  

  &__item {}

  &__link {
    &:link,
    &:visited {
      color: var(--color-grey-light-1);
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 1.5rem 3rem;
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: var(--color-grey-light-1);
  }
}

.legal {
  padding: 2.5rem;
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
}